.input_default {
  text-align: center;
  border: 2px solid var(--white);
  background: var(--main-blue-light);
  border-radius: 20px;
  padding-block: 5px;
  font-size: 14px;
  min-width: 100px;
  height: 30px;
  width: 150px;
}

/* Chrome, Safari, Edge, Opera */
.input_default[type="number"]::-webkit-outer-spin-button,
.input_default[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input_default[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 1200px) {
  .input_default {
    width: 40%;
  }
}

@media screen and (max-width: 568px) {
  .input_default {
    width: 100%;
  }
}
