// 一般RWD時上方大主題
.l_banner {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: var(--big-title);
  .col_banner {
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    height: 80px;
    font-size: 24px;
    font-weight: bolder;
    border: 5px solid rgb(239, 239, 239);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-inline: 6vw;
    &.blue {
      background: var(--main-blue-light-op05);
    }
    &.orange {
      background: var(--main-orange-light-op05);
    }
  }
}

@media screen and (max-width: 1200px) {
  .l_banner {
    display: flex;
  }
}

@media screen and (max-width: 568px) {
  .l_banner .col_banner {
    font-size: 18px;
  }
  .banner_btn_group .banner_btn_group_child.on {
    display: grid;
  }
}
