.x {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  div {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: black;
  }
  div:first-child {
    transform: rotate(-45deg);
  }
  div:last-child {
    transform: rotate(45deg);
  }
}
