// 全部清單
.col_list {
  width: 65%;
  height: 100%;
  border-radius: 20px;
  padding: 16px 20px;
  margin-right: 5%;
  position: relative;

  &.col_list_bg {
    background: var(--white);
  }
  .list_f {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div:first-child {
      width: 100%;
      height: 100%;
      min-width: 80px;
      max-width: 180px;
    }
  }
  .list_model_title {
    display: grid;
    gap: 12px;
    grid-template-columns: 30px auto 200px;
    grid-template-rows: 25px;
  }
}
.col_list_mt {
  margin-top: 50px;
}
// 加工清單用
.list_radius {
  border-radius: 0 20px 20px 20px;
}
// 選擇的顯示
.chosen_list {
  width: 35%;
  display: flex;
  flex-direction: column;
  .chosen_list_data {
    background: var(--white);
    width: 100%;
    height: 75%;
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    scrollbar-width: none;
    .chosen_list_title {
      display: flex;
      margin-inline: auto;
      align-items: center;
      justify-content: center;
      gap: 15px;
      font-size: 28px;
      font-weight: bolder;
      white-space: nowrap;
      img {
        max-height: 40px;
      }
    }
    .chosen_list_content {
      > div {
        padding-bottom: 0.8rem;
      }
    }
    .chosen_list_name {
      padding: 5px 0 30px 0;
      font-size: 18px;
    }
    .chosen_list_input {
      background: var(--main-blue-light);
      width: 100%;
      padding-block: 12px;
      padding-inline: 50px;
      border-radius: 30px;
      text-align: center;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      overflow: hidden;
      min-height: 40px;
    }
    .chosen_list_img {
      width: 100%;
      height: auto;
      overflow: hidden;
      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h6 {
      font-size: 20px;
      font-weight: bolder;
    }
  }
}

@media screen and (max-width: 1200px) {
  .col_list {
    width: 100%;
    padding: 0;
    padding-top: 20px;
    &.col_list_bg {
      background: transparent;
    }
    > div:first-child {
      display: flex;
    }
    .list_f {
      margin-bottom: 16px;
      > div:first-child {
        width: 100%;
        max-width: 100%;
      }
      div:not(:first-child),
      button {
        display: none;
      }
    }
    .list_model {
      background: var(--white);
      border-radius: 20px;
      padding: 25px;
    }
  }
  .chosen_list_data {
    &.col_list_mt {
      margin-top: 0;
    }
  }
  .list_radius {
    border-radius: 20px;
  }
  .chosen_list {
    margin-top: 12px;
    width: 100%;
    > div:first-child {
      height: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .col_list .list_model .list_model_title {
    display: none;
  }
}
