/* --------------- root --------------- */
:root {
  --white: #fff;
  --white-op08: rgba(255, 255, 255, 0.8);
  --white-op05: rgba(255, 255, 255, 0.5);
  --main-blue: #265587;
  --main-blue-light: #b0c1d6;
  --main-blue-light-op08: rgba(176, 193, 214, 0.8);
  --main-blue-light-op05: rgba(176, 193, 214, 0.5);
  --main-orange: #e75b41;
  --main-orange-light: #ffc9a8;
  --main-orange-light-op05: rgba(255, 201, 168, 0.5);
  --main-red: #ff9595;
  --main-red-light: #f2c4c4;
  --main-red-light-op05: rgba(255, 149, 149, 0.5);
  --main-green: #40da87;
  --main-green-light: #98d3b4;
  --main-green-light-op05: rgba(64, 218, 135, 0.5);

  --header: 80px;
  --footer: 60px;
  --big-title: 120px;
}

body {
  overflow: hidden;
}

/* --------------- background --------------- */

.bg-size {
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
  overflow: hidden;
}

.bg-sky {
  background-image: url("/images/background/sky.png");
}

.bg-execute {
  background-image: url("/images/background/execute.svg");
}

.bg-clouds {
  background-image: url("/images/background/bubbles-clouds.png");
}

.bg-space {
  background-image: url("/images/background/space-cabin.png");
}

.bg-tool {
  background-image: url("/images/background/tool-icon.png");
}

@media screen and (max-width: 390px) {
  .bg-tool bg-size {
    background-image: url("/images/background/phone/tool-icon.png");
  }
}

.bg-abnormal {
  background-repeat: no-repeat;
  background-image: url("/images/background/abnormal.png");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -98;
}

.bg-control {
  background-repeat: no-repeat;
  background-image: url("/images/background/control.png");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -98;
}

/* --------------- font --------------- */

@font-face {
  font-family: XiaolaiSC;
  src: url("/font/XiaolaiSC.ttf");
}

/* --------------- scrollbar --------------- */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d2d3d4;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #494242;
}

/* --------------- public --------------- */

// 主要內容
main {
  width: 100%;
  display: flex;
  overflow: hidden;
  .main-div {
    width: 100%;
    overflow: hidden;
    padding-top: var(--header); //跟header的距離
  }
}
.container {
  position: relative;
  width: 100%;
  margin-top: 20px;
  &.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    position: relative;
    width: 85%;
    height: calc(100vh - var(--header) - var(--footer));
    border-radius: 30px;
    display: flex;
    overflow-y: scroll;
    margin-bottom: 50px; // 返回鍵預留空間
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
    &.content-width {
      width: 100%;
    }
    &.content-pd {
      padding: 3%;
    }

    .content-working-left {
      width: 25%;
      height: 100%;
    }
    .content-working-right {
      width: 75%;
      height: 100%;
    }
  }
}
.content-abnormal-log {
  flex-direction: column;
  background: var(--white-op08);
  padding: 3%;
}
.content-blue-full {
  background: var(--main-blue-light-op08);
}
.content-title {
  font-size: 30px;
}
.next-btn {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.rwd-next-btn {
  display: none;
}
.rwd-display-none-btn {
  width: 70px;
  height: 70px;
}

.rwd-next-btn-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    .content {
      width: 90%;
      display: flex;
      flex-direction: column;
      height: calc(100vh - var(--header) - var(--footer) - var(--big-title));
      border-radius: 0;
      &.content-pd {
        padding: 0;
      }
      &.content-width ul li {
        width: 80%;
      }
    }
  }
  .content-blue-full {
    background: transparent;
  }
  .next-btn {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
  }
  .rwd-next-btn {
    display: flex;
    opacity: 0;
    pointer-events: none;
  }
  .rwd-next-btn-2 {
    position: relative;
    width: 100%;
    padding-inline: 0;
    padding-block: 1rem;
    flex-direction: column;
    align-items: center;
    > :first-child {
      display: none;
    }
  }
}
