/* --------------- root --------------- */
:root {
  --white: #fff;
  --white-op08: rgba(255, 255, 255, 0.8);
  --white-op05: rgba(255, 255, 255, 0.5);
  --main-blue: #265587;
  --main-blue-light: #b0c1d6;
  --main-blue-light-op08: rgba(176, 193, 214, 0.8);
  --main-blue-light-op05: rgba(176, 193, 214, 0.5);
  --main-orange: #e75b41;
  --main-orange-light: #ffc9a8;
  --main-orange-light-op05: rgba(255, 201, 168, 0.5);
  --main-red: #ff9595;
  --main-red-light: #f2c4c4;
  --main-red-light-op05: rgba(255, 149, 149, 0.5);
  --main-green: #40da87;
  --main-green-light: #98d3b4;
  --main-green-light-op05: rgba(64, 218, 135, 0.5);

  --header: 60px;
  --footer: 55px;
  --rwd-btn: 10px;

  --sidebar-width: 300px;
  --margin-top: 100px;
}

/* --------------- background --------------- */

.bg-sky {
  background-image: url("/images/background/sky.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -99;
  overflow: hidden;
}

.bg-execute {
  background-image: url("/images/background/execute.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -99;
  overflow: hidden;
}

.bg-clouds {
  background-image: url("/images/background/bubbles-clouds.png");
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -98;
  overflow: hidden;
}

.bg-space {
  background-image: url("/images/background/space-cabin.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: var(--header);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -98;
}

.bg-tool {
  background-image: url("/images/background/tool-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -99;
  overflow: hidden;
}

@media screen and (max-width: 390px) {
  .bg-tool {
    background-image: url("/images/background/phone/tool-icon.png");
  }
}

.bg-abnormal {
  background-repeat: no-repeat;
  background-image: url("/images/background/abnormal.png");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -98;
}

.bg-control {
  background-repeat: no-repeat;
  background-image: url("/images/background/control.png");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -98;
}

/* --------------- font --------------- */

@font-face {
  font-family: XiaolaiSC;
  src: url("/font/XiaolaiSC.ttf");
}

/* --------------- scrollbar --------------- */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d2d3d4;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #494242;
}

/* --------------- public --------------- */

.main-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// 主要內容
main {
  height: calc(100vh - var(--header));
  display: flex;
  overflow: hidden;
  .main-content {
    display: flex;
    width: 100%;
    height: auto;
  }
}

.container {
  position: relative;
  width: 100%;
  height: auto;

  .content {
    position: relative;
    width: 90%;
    height: calc(100vh - var(--header) - var(--footer) - 50px - 100px);
    min-height: 500px;
    margin-inline: auto;
    border-radius: 30px;
    display: flex;
    gap: 2vw;
    margin-top: 50px;

    // 如果放太小的話還是要看到全部時
    // overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }

    &.content-pd {
      padding: 3%;
    }

    .content-working-left {
      width: 25%;
      height: 100%;
    }
    .content-working-right {
      width: 75%;
      height: 100%;
    }
  }

  .content-abnormal-log {
    flex-direction: column;
    background: var(--white-op08);
    padding: 3%;
  }

  .content-blue-full {
    background: var(--main-blue-light-op08);
  }
  .content-white-full {
    background: var(--white-op08);
  }
}

.content-title {
  font-size: 30px;
}

.nextbtn {
  margin-top: auto;
  margin-inline: auto;
}

.rwd-btn {
  position: absolute;
  bottom: -50px;
  left: 0;
  button:not(:last-child) {
    display: none;
  }
  button:last-child {
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  main {
    height: calc(100% - var(--header) - var(--footer));
  }

  .container {
    .content {
      height: calc(100% - var(--header) - var(--footer));
      min-height: auto;
      flex-direction: column;
      margin-top: 0;
      overflow-y: auto;
    }

    .content-blue-full {
      background: transparent;
    }
  }
  .content-title {
    font-weight: bolder;
    width: 100%;
    text-align: center;
    line-height: 60px;
    border-bottom: 3px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
  }

  .nextbtn {
    display: none;
  }
  .rwd-btn {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    bottom: 0;
    button:not(:last-child) {
      display: flex;
    }
    button:last-child {
      display: none;
    }
  }

  .rwd-display-none-btn {
    width: 80px;
    pointer-events: none;
  }
}
