.l_work_card {
  width: 100%;
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  .col_work_card {
    position: relative;
  }
  #workcard_nextbtn_swiper {
    float: right;
    padding: 30px 40px 0 0;
    margin-top: auto;
    margin-left: auto;
  }
  .l_work_card_pathname {
    padding: 20px 0px 20px 20px;
  }
  .work_card_btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    padding-top: 50px;
  }
}

.card {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10vh;
  cursor: pointer;
  > div:first-child {
    width: 200px;
    padding-inline: 50px;
    img {
      width: 100%;
      min-height: 100px;
      max-height: 150px;
      object-fit: contain;
    }
  }
  .bar {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    height: 0.7rem;
    background: rgb(223, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    .mouse {
      padding-inline: 0.5rem;
      padding-block: 1rem;
      border-radius: 50px;
      background: var(--main-blue);
    }
  }
}
.rwd_chosen_line {
  display: none;
}

// 拉桿線 變圓
.col_work_card > div > div > div:first-child > .card .bar {
  border-radius: 20px 0 0 20px;
}
.col_work_card > div > div > div:last-child > .card .bar {
  border-radius: 0 50px 50px 0;
}

@media screen and (max-width: 1200px) {
  .l_work_card {
    .col_work_card {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: auto;
    }
    .work_card_btn {
      justify-content: center;
      padding-right: 0;
    }
  }
  .card {
    justify-content: center;
    gap: 5vh;
    .bar {
      display: none;
    }
    > div:last-child {
      font-size: 40px;
      color: black;
    }
  }
  .chosen_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rwd_chosen_line {
    display: initial;
  }
}

@media screen and (max-height: 600px) {
  .l_work_card {
    gap: 15px;
  }
}
